@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

body{
  background-color: #00e2ac;
}
.landing-row{
  height: 100vh;
}
#first-row{

  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);*/
}
.logo{
  height: 30px;
  margin: 0 15px 0 15px;
}
.image-block{
  /*height: 00px;*/
  width: 300px;
  overflow: hidden;
  margin:auto;
}
.tile a{
  /*height: 200px;*/
  /*margin-top: 10px;*/
  text-align: center;
  /*width: 100%;*/
  margin: auto;
}
.tile img{
  /*height: 200px;*/
  width: 100%;
  /*margin-top: 10px;*/
  margin: auto;
}
.dark-overlay{
  position: relative;
  width: 50%;
  left: 40%;
  top: 30%;
}
.dark-overlay img{
  width: 500px;
}
#test{
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
#main-name-title{
  /*color: white;*/
  font-family: 'Abril Fatface', serif;
  /*font-family: 'Lato', sans-serif;*/
  font-size: 70px;
  font-weight: 400;
  /*width: 500px;*/
  text-align: left;
}
.main-row-text{
  position: absolute;
  top: 30%;
  left: 30%;
  margin-left: -300px;
  margin-top: -35px;
}
#white-description{
  /*color: white;*/
}
.portfolio-title{
  font-size: 60px;
  font-family: 'Abril Fatface', serif;
  text-align: center;
}
#about-me-title{
  font-family: 'Abril Fatface', serif;
  font-size: 60px;
  text-align: center;
}
.my-own-navbar-row{
  /*background-color:rgba(186, 255, 247, .3);*/
  margin-left: -15px;
  width: 100vw;
  height: 50px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 0px;
  z-index: 2;
}
.navbar-ul{
  margin-left: 60%;
  margin-top: 10px;
  /*margin-bottom: -20px;*/
  color: white;
}
li{
  display: inline;
}
.navbar-ul li{
  margin-left: 20px;
  /*margin-top: 50px;*/
}
.navbar-ul li:hover{
  border-bottom: 2px solid white;
  padding: 3px;
}
.description{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: center;
}

.tile:hover{
  background-color: rgba(229, 229, 229, .7);
}
.footer{
  /*height: 100px;*/
  margin-top: 30px;
  padding-bottom: 30px;
}
@media all and (max-width: 400px){
  #first-row{
    height: 200px;
  }
  .landing-row{
    height: 400px;
  }
  .main-row-text{
    top: 15%;
    left: 35%;
  }
}
