@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

body{
  background-color: #f9f9f9;
}
.landing-row{
  height: 100vh;
}
#first-row{

  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);*/
}
a:hover{
  text-decoration: none;
}
.logo{
  height: 35px;
  margin: 0 15px 0 15px;
  color: black;
}
.image-block{
  /*height: 00px;*/
  width: 300px;
  overflow: hidden;
  margin:auto;
}
.tile a{
  /*height: 200px;*/
  /*margin-top: 10px;*/
  text-align: center;
  /*width: 100%;*/
  margin: auto;
}
.tile img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.dark-overlay{
  position: relative;
  width: 50%;
  left: 40%;
  top: 30%;
}
.dark-overlay img{
  width: 500px;
}
#test{
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
#first-name{
  font-weight: 700;
}
#main-name-title{
  /*color: white;*/
  font-family: 'Lato', serif;
  /*font-family: 'Lato', sans-serif;*/
  font-size: 70px;
  font-weight: 100;
  /*width: 500px;*/
  text-align: left;
}
.main-row-text{
  position: absolute;
  top: 30%;
  left: 30%;
  margin-left: -300px;
  margin-top: -35px;
}
#white-description{
  /*color: white;*/
}
.portfolio-title{
  font-size: 20px;
  font-family: 'Lato', serif;
  /* text-align: center; */
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}
#about-me-title{
  font-family: 'Lato', serif;
  font-size: 60px;
  text-align: center;
}
.my-own-navbar-row{
  /*background-color:rgba(186, 255, 247, .3);*/
  margin-left: -15px;
  width: 100vw;
  height: 50px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 0px;
  z-index: 2;
}
.navbar-ul{
  margin-left: 60%;
  margin-top: 10px;
  /*margin-bottom: -20px;*/
  color: white;
}
li{
  display: inline;
}
.navbar-ul li{
  margin-left: 20px;
  /*margin-top: 50px;*/
}
.navbar-ul li:hover{
  border-bottom: 2px solid white;
  padding: 3px;
}
.description{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  /* text-align: center; */
}
.card-background{
  background-color: white;
}
.tile:hover{
  background-color: rgba(229, 229, 229, .7);
}
.footer{
  /*height: 100px;*/
  margin-top: 30px;
  padding-bottom: 30px;
}
.source-code {
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #00995c;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
}

.source-code:hover {
  background: #04b36d;
  text-decoration: none;
}
.demo-button {
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #6b6b6b;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
}
.tile{
  padding-top: 20px;
}
.demo-button:hover {
  background: #949494;
  text-decoration: none;
}

.project-title{
  font-family: 'Lato';
  font-weight:600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.project-photo{
  /* height: 300px; */
  width: 90%;
}
.project-description{
  font-family: 'Lato';
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  line-height: 2;
}

/* The Modal (background) */
.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.web-title{
  font-family: 'Lato';
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2;
  font-size: 20px;
}
/* Modal Content/Box */
.modal-content {
    /* background-color: #fefefe; */
    /* margin: 15% auto;  */
    /* 15% from the top and centered*/
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    font-family: 'Lato';
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-item { width: 33%; }
.grid-item > img {
  width: 100%;
}
.modal-content > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: 50%; */
  width: 70%;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media only screen
  and (max-width: 480px){
    /*#first-row{
      height: 200px;
    }*/
    .logo{
      height: 18px;
    }
    .landing-row{
      height: 50vh;
    }
    .main-row-text{
      top: 15%;
      left: 35%;
    }
    .dark-overlay img{
      width: 300px;
    }
    .dark-overlay{
      left: 20%;
    }
    .main-row-text{
      /*font-size: 10px;*/
      margin-left: -100px;
    }
    #main-name-title{
      font-size: 40px;
    }
    #white-description{
      font-size: 15px;
    }
    .description{
      text-align: left;
      font-size: 14px;
    }
    .portfolio-title{
      font-size: 20px;

    }
    #keep-in-touch{
      /* text-align: center; */
    }
    .tile:hover{
      background-color: rgba(255,255,255,0);
    }
    .tile img{
      width: 200px;
      position: relative;
      left: 50%;
      margin-left: -100px;
    }
    .tile{
      padding-top: 20px;
    }
    #about-me-title{
      font-size: 40px;
    }
    .project-photo{
      /* height: 300px; */
      width: 100%;
    }
    .project-description{
      /* font-family: 'Lato'; */
      font-weight: 300;
      font-size: 14px;
      text-align: justify;
      line-height: 1;
      margin-top: 10px;
    }

}
/*@media screen and (max-width: 980px){

}*/
